<!doctype html>
<head>
    <title>Title</title>
</head>
<body>
    <div>
	<h2>Hello World</h2>
        <iframe frameborder="0" noresize="noresize"
     style='background: transparent; width: 100%; height:100%;' src="{{ url_for('content')}}"></iframe>
    </div>
</body>



